# Imports

In [2]:
from src.classes.embrapa.Embrapa import Embrapa

# Classes

## Embrapa

In [3]:
ebp = Embrapa()

### Producao

In [4]:
df1=ebp.get_producao_df()
df1.to_dict()

{'product': {1: 'tinto',
  2: 'branco',
  3: 'rosado',
  5: 'tinto',
  6: 'branco',
  7: 'rosado',
  9: 'suco_de_uva_integral',
  10: 'suco_de_uva_concentrado',
  11: 'suco_de_uva_adocado',
  12: 'suco_de_uva_organico',
  13: 'suco_de_uva_reconstituido',
  15: 'espumante',
  16: 'espumante_moscatel',
  17: 'base_espumante',
  18: 'base_espumante_moscatel',
  19: 'base_champenoise_champanha',
  20: 'base_charmat_champanha',
  21: 'bebida_de_uva',
  22: 'polpa_de_uva',
  23: 'mosto_simples',
  24: 'mosto_concentrado',
  25: 'mosto_de_uva_com_bagaco',
  26: 'mosto_dessulfitado',
  27: 'mistelas',
  28: 'nectar_de_uva',
  29: 'licorosos',
  30: 'compostos',
  31: 'jeropiga',
  32: 'filtrado',
  33: 'frisante',
  34: 'vinho_leve',
  35: 'vinho_licoroso',
  36: 'brandy',
  37: 'destilado',
  38: 'bagaceira',
  39: 'licor_de_bagaceira',
  40: 'vinagre',
  41: 'borra_liquida',
  42: 'borra_seca',
  43: 'vinho_composto',
  44: 'pisco',
  45: 'vinho_organico',
  46: 'espumante_organico',
  47: 'destilado_alcoolico_simples_de_bagaceira',
  48: 'vinho_acidificado',
  49: 'mosto_parcialmente_fermentado',
  50: 'outros_derivados'},
 'liters': {1: 139320884.0,
  2: 27910299.0,
  3: 2531246.0,
  5: 23615783.0,
  6: 20693437.0,
  7: 1959336.0,
  9: 38122173.0,
  10: 28216760.0,
  11: 94587.0,
  12: 611718.0,
  13: 0.0,
  15: 65525.0,
  16: 14744.0,
  17: 0.0,
  18: 6734590.0,
  19: 1552243.0,
  20: 5418118.0,
  21: 1627.0,
  22: 1388251.0,
  23: 157848983.0,
  24: 0.0,
  25: 7784.0,
  26: 0.0,
  27: 600.0,
  28: 70976.0,
  29: 0.0,
  30: 0.0,
  31: 4500.0,
  32: 0.0,
  33: 0.0,
  34: 0.0,
  35: 73600.0,
  36: 450.0,
  37: 0.0,
  38: 0.0,
  39: 0.0,
  40: 9000.0,
  41: 758140.0,
  42: 17200.0,
  43: 0.0,
  44: 0.0,
  45: 94150.0,
  46: 1365.0,
  47: 0.0,
  48: 2500.0,
  49: 0.0,
  50: 652301.0},
 'group': {1: 'vinho_de_mesa',
  2: 'vinho_de_mesa',
  3: 'vinho_de_mesa',
  5: 'vinho_fino_de_mesa_vinifera',
  6: 'vinho_fino_de_mesa_vinifera',
  7: 'vinho_fino_de_mesa_vinifera',
  9: 'suco',
  10: 'suco',
  11: 'suco',
  12: 'suco',
  13: 'suco',
  15: 'derivados',
  16: 'derivados',
  17: 'derivados',
  18: 'derivados',
  19: 'derivados',
  20: 'derivados',
  21: 'derivados',
  22: 'derivados',
  23: 'derivados',
  24: 'derivados',
  25: 'derivados',
  26: 'derivados',
  27: 'derivados',
  28: 'derivados',
  29: 'derivados',
  30: 'derivados',
  31: 'derivados',
  32: 'derivados',
  33: 'derivados',
  34: 'derivados',
  35: 'derivados',
  36: 'derivados',
  37: 'derivados',
  38: 'derivados',
  39: 'derivados',
  40: 'derivados',
  41: 'derivados',
  42: 'derivados',
  43: 'derivados',
  44: 'derivados',
  45: 'derivados',
  46: 'derivados',
  47: 'derivados',
  48: 'derivados',
  49: 'derivados',
  50: 'derivados'},
 'year': {1: 2023,
  2: 2023,
  3: 2023,
  5: 2023,
  6: 2023,
  7: 2023,
  9: 2023,
  10: 2023,
  11: 2023,
  12: 2023,
  13: 2023,
  15: 2023,
  16: 2023,
  17: 2023,
  18: 2023,
  19: 2023,
  20: 2023,
  21: 2023,
  22: 2023,
  23: 2023,
  24: 2023,
  25: 2023,
  26: 2023,
  27: 2023,
  28: 2023,
  29: 2023,
  30: 2023,
  31: 2023,
  32: 2023,
  33: 2023,
  34: 2023,
  35: 2023,
  36: 2023,
  37: 2023,
  38: 2023,
  39: 2023,
  40: 2023,
  41: 2023,
  42: 2023,
  43: 2023,
  44: 2023,
  45: 2023,
  46: 2023,
  47: 2023,
  48: 2023,
  49: 2023,
  50: 2023}}

### Processamento

In [4]:
df2=ebp.get_processamento_df()
df2

                 cultivate  kilograms    group      subgroup  year
1        alicante_bouschet        0.0   tintas     viniferas  1970
2                 ancelota        0.0   tintas     viniferas  1970
3                   aramon        0.0   tintas     viniferas  1970
4              alfrocheiro        0.0   tintas     viniferas  1970
5                arinarnoa        0.0   tintas     viniferas  1970
..                     ...        ...      ...           ...   ...
5             golden_queen        0.0  brancas  uvas_de_mesa  2023
6                 patricia        0.0  brancas  uvas_de_mesa  2023
7                  perlona        0.0  brancas  uvas_de_mesa  2023
8                   italia        0.0  brancas  uvas_de_mesa  2023
9   rubi_italia,_italia_ro    13440.0  brancas  uvas_de_mesa  2023

[10962 rows x 5 columns]

### Comercialização

In [5]:
df3=ebp.get_comercializacao_df()
df3

,product,liters,group,year
1,tinto,83300735.0,vinho_de_mesa,1970
2,rosado,107681.0,vinho_de_mesa,1970
3,branco,14919190.0,vinho_de_mesa,1970
5,tinto,435354.0,vinho_fino_de_mesa,1970
6,rosado,183234.0,vinho_fino_de_mesa,1970
...,...,...,...,...
57,vinho_base_para_espumantes,0.0,outros_produtos_comercializados,2023
58,vinho_composto,981.0,outros_produtos_comercializados,2023
59,vinho_licoroso,421974.0,outros_produtos_comercializados,2023
60,vinho_leve,132064.0,outros_produtos_comercializados,2023
61,vinho_gaseificado,410215.0,outros_produtos_comercializados,2023

### Importação

In [6]:
df4=ebp.get_importacao_df()
df4

           country  kilograms  dollars        subgroup  year
0    africa_do_sul        0.0      0.0  vinhos_de_mesa  1970
1         alemanha    52297.0  30498.0  vinhos_de_mesa  1970
2          argelia        0.0      0.0  vinhos_de_mesa  1970
3   arabia_saudita        0.0      0.0  vinhos_de_mesa  1970
4        argentina    19525.0  12260.0  vinhos_de_mesa  1970
..             ...        ...      ...             ...   ...
24          taiwan        0.0      0.0     suco_de_uva  2023
25         turquia        0.0      0.0     suco_de_uva  2023
26         uruguai        0.0      0.0     suco_de_uva  2023
27       venezuela        0.0      0.0     suco_de_uva  2023
28          outros        0.0      0.0     suco_de_uva  2023

[10638 rows x 5 columns]

### Exportação

In [7]:
df5=ebp.get_exportacao_df()
df5

                            Países Quantidade (Kg) Valor (US$)  \
0                      Afeganistão               -           -
1                    África do Sul               -           -
2  Alemanha, República Democrática               -           -
3                           Angola               -           -
4                         Anguilla               -           -

           subtab   Ano
0  vinhos_de_mesa  1970
1  vinhos_de_mesa  1970
2  vinhos_de_mesa  1970
3  vinhos_de_mesa  1970
4  vinhos_de_mesa  1970

                             country  kilograms  dollars        subgroup  year
0                        afeganistao        0.0      0.0  vinhos_de_mesa  1970
1                      africa_do_sul        0.0      0.0  vinhos_de_mesa  1970
2    alemanha,_republica_democratica        0.0      0.0  vinhos_de_mesa  1970
3                             angola        0.0      0.0  vinhos_de_mesa  1970
4                           anguilla        0.0      0.0  vinhos_de_mesa  1970
..                               ...        ...      ...             ...   ...
117               trinidade_e_tobago        0.0      0.0     suco_de_uva  2023
118                          turquia      230.0    455.0     suco_de_uva  2023
119                          uruguai        0.0      0.0     suco_de_uva  2023
120                          vanuatu        0.0      0.0     suco_de_uva  2023
121                        venezuela    30206.0  47287.0     suco_de_uva  2023

[26784 rows x 5 columns]