# Imports

In [1]:
from src.repositories.embrapa.embrapa import Embrapa

# Classes

## Embrapa

In [2]:
ebp = Embrapa()

### Producao

In [4]:
df1=ebp.get_producao_df()
df1.head(5)

  product       liters                        group  year
1   tinto  174224052.0                vinho_de_mesa  1970
2  branco     748400.0                vinho_de_mesa  1970
3  rosado   42236152.0                vinho_de_mesa  1970
5   tinto    7591557.0  vinho_fino_de_mesa_vinifera  1970
6  branco   15562889.0  vinho_fino_de_mesa_vinifera  1970

In [11]:
df1['product'].unique()

array(['tinto', 'branco', 'rosado', 'suco_de_uva_integral',
       'suco_de_uva_concentrado', 'suco_de_uva_adocado',
       'suco_de_uva_organico', 'suco_de_uva_reconstituido', 'espumante',
       'espumante_moscatel', 'base_espumante', 'base_espumante_moscatel',
       'base_champenoise_champanha', 'base_charmat_champanha',
       'bebida_de_uva', 'polpa_de_uva', 'mosto_simples',
       'mosto_concentrado', 'mosto_de_uva_com_bagaco',
       'mosto_dessulfitado', 'mistelas', 'nectar_de_uva', 'licorosos',
       'compostos', 'jeropiga', 'filtrado', 'frisante', 'vinho_leve',
       'vinho_licoroso', 'brandy', 'destilado', 'bagaceira',
       'licor_de_bagaceira', 'vinagre', 'borra_liquida', 'borra_seca',
       'vinho_composto', 'pisco', 'vinho_organico', 'espumante_organico',
       'destilado_alcoolico_simples_de_bagaceira', 'vinho_acidificado',
       'mosto_parcialmente_fermentado', 'outros_derivados'], dtype=object)

In [12]:
df1['group'].unique()

array(['vinho_de_mesa', 'vinho_fino_de_mesa_vinifera', 'suco',
       'derivados'], dtype=object)

### Processamento

In [5]:
df2=ebp.get_processamento_df()
df2.head(5)

           cultivate  kilograms   group   subgroup  year
1  alicante_bouschet        0.0  tintas  viniferas  1970
2           ancelota        0.0  tintas  viniferas  1970
3             aramon        0.0  tintas  viniferas  1970
4        alfrocheiro        0.0  tintas  viniferas  1970
5          arinarnoa        0.0  tintas  viniferas  1970

In [13]:
df2['cultivate'].unique()

array(['alicante_bouschet', 'ancelota', 'aramon', 'alfrocheiro',
       'arinarnoa', 'aspirant_bouschet', 'barbera', 'bonarda',
       'cabernet_franc', 'cabernet_sauvignon', 'caladoc', 'campanario',
       'canaiolo', 'carignan', 'carmenere', 'castelao', 'corvina',
       'croatina', 'cinsaut', 'dom_felder', 'dolcetto', 'durif',
       'egiodola', 'ekigaina', 'festival_sugraone', 'franconia', 'freisa',
       'gamay_st_romain', 'gamay_beaujolais', 'grand_noir', 'grenache',
       'jaen', 'lagrein', 'lambrusco', 'malbec', 'marzemina', 'merlot',
       'marselan', 'mistura_de_uvas_viniferas_tinto', 'molinera',
       'montepulciano', 'moscato_bailey', 'napa_gamay', 'nebbiolo',
       'petit_verdot', 'petite_sirah', 'pinotage', 'pinot_noir',
       'pinot_saint_george', 'piriquita', 'primitivo', 'rebo', 'refosco',
       'rondinella', 'ruby_cabernet', 'sangiovese', 'saperavi',
       'sira_falsa', 'tannat', 'tempranillo', 'teroldego', 'torrontes',
       'tinta_barroca', 'tinta_roriz', 'touriga_francesa',
       'touriga_nacional', 'tinta_madeira', 'tintoria', 'trincdeira',
       'trousseau', 'zinfandel', 'outras1', 'aliatico', 'aligote',
       'altesse', 'alvarinho', 'arriloba', 'auxerrois', 'burger',
       'chardonnay', 'chasselas', 'chenin_blanc', 'clairette1',
       'colombard', 'flora', 'garganega', 'gewurztraminer', 'gouveio',
       'gros_manseng', 'italia_pirovano_65_pe', 'maccabeo', 'malvasia',
       'malvasia_amarela', 'malvasia_bianca', 'malvasia_chianti',
       'malvasia_verde', 'malvasia_di_candia', 'malvasia_istriana',
       'mistura_de_uvas_viniferas_branco',
       'mistura_de_uvas_viniferas_rosado', 'moscato_branco',
       'moscato_canelli', 'moscato_giallo', 'moscato_nazareno',
       'moscato_bianco_r2', 'moscato_de_alexandria', 'moscato_rosado',
       'muscat_a_petits_grains', 'muller_thurgau', 'muscadelle', 'ora',
       'palomino', 'petit_manseng', 'peverella', 'pinot_blanc',
       'pinot_gris', 'prosecco', 'red_veltliner', 'riesling_italico',
       'riesling_renano', 'sauvignon_blanc2', 'sauvignon_gris',
       'seara_nova', 'semillon', 'schonburger', 'sylvaner',
       'tocai_friulano', 'trebbiano', 'trebbiano_toscano', 'verdea',
       'verdelho', 'verdiso', 'vermentino', 'vernaccia', 'viogner',
       'viognier', 'outras3', 'bacarina', 'bailey', 'bordo', 'bourdin_s',
       'brs_carmen', 'brs_cora', 'brs_magna', 'brs_margot', 'brs_morena',
       'brs_nubia', 'brs_rubea', 'brs_violeta', 'brs_vitoria',
       'champagnon_champanheta', 'colecoes', 'concord',
       'concord_clone_30', 'couderc', 'cynthiana1', 'herbemont', 'isabel',
       'isabel_precoce', 'jacquez', 'kyoko', 'landot',
       'mistura_de_uvas_americanas_tinto', 'oberlin', 'othello', 'paco',
       'patricia', 'seibel', 'seibel_2_seibeleto', 'seyve_willard_tinta',
       'venus', 'baco', 'bokay', 'brs_bibiana', 'brs_clara', 'brs_lorena',
       'couderc_13', 'delaware', 'dona_zilla', 'dut_chess', 'goethe',
       'juliana', 'martha', 'mistura_de_uvas_americanas',
       'moscato_embrapa', 'niagara', 'niagara_branca', 'niagara_rosada',
       'poloske', 'selecoes', 'seyve_villard', 'seyve_villard_5276',
       'seyve_villard_12375', 'tardia_de_caxias', 'outras2',
       'alphonse_lavallee', 'moscato_de_hamburgo', 'cardinal',
       'golden_queen', 'perlona', 'italia', 'rubi_italia_italia_ro'],
      dtype=object)

In [14]:
df2['group'].unique()

array(['tintas', 'brancas_e_rosadas', 'iac_138022', 'iac', 'brancas'],
      dtype=object)

In [15]:
df2['subgroup'].unique()

array(['viniferas', 'americanas_e_hibridas', 'uvas_de_mesa'], dtype=object)

### Comercialização

In [6]:
df3=ebp.get_comercializacao_df()
df3.head(5)

  product      liters               group  year
1   tinto  83300735.0       vinho_de_mesa  1970
2  rosado    107681.0       vinho_de_mesa  1970
3  branco  14919190.0       vinho_de_mesa  1970
5   tinto    435354.0  vinho_fino_de_mesa  1970
6  rosado    183234.0  vinho_fino_de_mesa  1970

In [16]:
df3['product'].unique()

array(['tinto', 'rosado', 'branco', 'espumante_moscatel', 'espumante',
       'espumante_organico', 'suco_natural_integral', 'suco_adocado',
       'suco_reprocessado/reconstituido', 'suco_organico',
       'outros_sucos_de_uvas', 'outros_vinhos_sem_informacao_detalhada',
       'agrin_fermentado_acetico_misto', 'aguardente_de_vinho_50deggl',
       'alcool_vinico', 'bagaceira_graspa', 'base_champenoise_champanha',
       'base_charmat_champanha', 'base_espumante_moscatel',
       'bebida_de_uva', 'borra_liquida', 'borra_seca', 'brandy_conhaque',
       'cooler', 'coquetel_com_vinho', 'destilado_de_vinho',
       'filtrado_doce', 'jeropiga', 'mistelas', 'mosto_concentrado',
       'mosto_de_uva', 'mosto_sulfitado', 'nectar_de_uva',
       'outros_produtos', 'polpa_de_uva',
       'preparado_liquido_para_refresco', 'refrigerante_+50%_suco',
       'sangria', 'vinagre_balsamico', 'vinagre_duplo', 'vinagre_simples',
       'vinho_acetificado', 'vinho_base_para_espumantes',
       'vinho_composto', 'vinho_licoroso', 'vinho_leve',
       'vinho_gaseificado'], dtype=object)

In [17]:
df3['group'].unique()

array(['vinho_de_mesa', 'vinho_fino_de_mesa', 'vinho_especial',
       'espumantes', 'suco_de_uvas', 'outros_produtos_comercializados'],
      dtype=object)

### Importação

In [7]:
df4=ebp.get_importacao_df()
df4.head(5)

          country  kilograms  dollars        subgroup  year
0   africa_do_sul        0.0      0.0  vinhos_de_mesa  1970
1        alemanha    52297.0  30498.0  vinhos_de_mesa  1970
2         argelia        0.0      0.0  vinhos_de_mesa  1970
3  arabia_saudita        0.0      0.0  vinhos_de_mesa  1970
4       argentina    19525.0  12260.0  vinhos_de_mesa  1970

In [18]:
df4['country'].unique()

array(['africa_do_sul', 'alemanha', 'argelia', 'arabia_saudita',
       'argentina', 'armenia', 'australia', 'austria', 'bermudas',
       'belgica', 'bolivia', 'bosnia-herzegovina', 'brasil', 'bulgaria',
       'canada', 'chile', 'china', 'coreia_do_sul_republica', 'croacia',
       'cuba', 'emirados_arabes_unidos', 'eslovenia', 'eslovaquia',
       'espanha', 'estados_unidos', 'franca', 'georgia',
       'georgia_do_sul_e_sandwich_do_sul_ilhas', 'grecia', 'hong_kong',
       'hungria', 'indonesia', 'irlanda', 'israel', 'italia', 'japao',
       'iugoslavia', 'libano', 'luxemburgo', 'macedonia', 'marrocos',
       'mexico', 'moldavia', 'montenegro', 'noruega', 'nova_zelandia',
       'paises_baixos_holanda', 'panama', 'peru', 'porto_rico',
       'portugal', 'reino_unido', 'republica_dominicana', 'romenia',
       'russia', 'san_marino', 'servia', 'siria', 'suazilandia', 'suica',
       'tcheca_republica', 'tunisia', 'turquia', 'ucrania', 'uruguai',
       'nao_consta_na_tabela', 'nao_declarados', 'outros', 'bahamas',
       'granada', 'paises_baixos', 'colombia', 'egito', 'paraguai',
       'venezuela', 'afeganistao', 'alemanha_republica_democratica',
       'china_continental', 'cingapura', 'costa_rica', 'emirados',
       'guiana_britanica', 'india', 'ira', 'suecia', 'uzbequistao',
       'coreia_do_norte_republica', 'dinamarca', 'guiana', 'taiwan'],
      dtype=object)

In [19]:
df4['subgroup'].unique()

array(['vinhos_de_mesa', 'espumantes', 'uvas_frescas', 'uvas_passas',
       'suco_de_uva'], dtype=object)

### Exportação

In [8]:
df5=ebp.get_exportacao_df()
df5.head(5)

                          country  kilograms  dollars        subgroup  year
0                     afeganistao        0.0      0.0  vinhos_de_mesa  1970
1                   africa_do_sul        0.0      0.0  vinhos_de_mesa  1970
2  alemanha_republica_democratica        0.0      0.0  vinhos_de_mesa  1970
3                          angola        0.0      0.0  vinhos_de_mesa  1970
4                        anguilla        0.0      0.0  vinhos_de_mesa  1970

In [20]:
df5['country'].unique()

array(['afeganistao', 'africa_do_sul', 'alemanha_republica_democratica',
       'angola', 'anguilla', 'antigua_e_barbuda', 'antilhas_holandesas',
       'arabia_saudita', 'argentina', 'aruba', 'australia', 'austria',
       'bahamas', 'bangladesh', 'barbados', 'barein', 'belgica', 'belice',
       'benin', 'bermudas', 'bolivia', 'bosnia-herzegovina', 'brasil',
       'bulgaria', 'cabo_verde', 'camaroes', 'canada', 'catar',
       'cayman_ilhas', 'chile', 'china', 'chipre', 'cingapura',
       'cocos_keeling_ilhas', 'colombia', 'comores', 'congo',
       'coreia_republica_sul', 'costa_do_marfim', 'costa_rica', 'croacia',
       'cuba', 'curacao', 'dinamarca', 'dominica', 'el_salvador',
       'emirados_arabes_unidos', 'equador', 'eslovaca_republica',
       'espanha', 'estados_unidos', 'estonia', 'filipinas', 'finlandia',
       'franca', 'gana', 'gibraltar', 'granada', 'grecia', 'guatemala',
       'guiana', 'guiana_francesa', 'guine_bissau', 'guine_equatorial',
       'haiti', 'honduras', 'hong_kong', 'hungria', 'ilha_de_man',
       'ilhas_virgens', 'india', 'indonesia', 'ira', 'iraque', 'irlanda',
       'italia', 'jamaica', 'japao', 'jordania', 'letonia', 'libano',
       'liberia', 'luxemburgo', 'macau', 'malasia', 'malavi', 'malta',
       'marshall_ilhas', 'martinica', 'mauritania', 'mexico',
       'mocambique', 'montenegro', 'namibia', 'nicaragua', 'nigeria',
       'noruega', 'nova_caledonia', 'nova_zelandia', 'oma',
       'paises_baixos', 'palau', 'panama', 'paraguai', 'peru', 'pitcairn',
       'polonia', 'porto_rico', 'portugal', 'quenia', 'reino_unido',
       'republica_dominicana', 'russia', 'sao_cristovao_e_nevis',
       'sao_tome_e_principe', 'sao_vicente_e_granadinas', 'senegal',
       'serra_leoa', 'singapura', 'suazilandia', 'suecia', 'suica',
       'suriname', 'tailandia', 'taiwan_formosa', 'tanzania',
       'tcheca_republica', 'togo', 'toquelau', 'trinidade_tobago',
       'tunisia', 'turquia', 'tuvalu', 'uruguai', 'vanuatu', 'venezuela',
       'vietna', 'alemanha', 'coreia_do_sul_republica_da',
       'falkland_malvinas', 'filanldia', 'guine-bissau', 'islandia',
       'maldivas', 'paises_baixos_holanda', 'republica_tcheca',
       'trinidade_e_tobago', 'outros1', 'argelia', 'bahrein', 'belize',
       'bosnia', 'burquina_faso', 'camores', 'cook_ilhas',
       'coreia_do_norte', 'coreia_do_sul', 'coveite', 'djibuti', 'egito',
       'eslovenia', 'falkland_ilhas_malvinas', 'faroe_ilhas', 'gabao',
       'georgia', 'guadalupe', 'jersei', 'libia', 'lituania', 'macedonia',
       'marrocos', 'mauricio', 'monaco', 'mongolia', 'paquistao',
       'quirguistao', 'romenia', 'russia_federacao_da', 'samoa_americana',
       'sri_lanka', 'taiwan', 'trindade_e_tobago',
       'turcas_e_caicos_ilhas', 'provisao_de_navios_e_aeronaves',
       'alemanha_republica_democratica_da', 'birmania',
       'dominica_ilha_de', 'israel', 'iugoslavia',
       'republica_centro_africana', 'republica_federativa_da_russia'],
      dtype=object)

In [21]:
df5['subgroup'].unique()

array(['vinhos_de_mesa', 'espumantes', 'uvas_frescas', 'suco_de_uva'],
      dtype=object)