# Imports

In [1]:
from src.classes.embrapa.Embrapa import Embrapa

# Classes

## Embrapa

In [2]:
ebp = Embrapa()

### Producao

In [3]:
df1=ebp.get_producao_df()
df1

,product,liters,group,year
1,tinto,174224052.0,vinho_de_mesa,1970
2,branco,748400.0,vinho_de_mesa,1970
3,rosado,42236152.0,vinho_de_mesa,1970
5,tinto,7591557.0,vinho_fino_de_mesa_vinifera,1970
6,branco,15562889.0,vinho_fino_de_mesa_vinifera,1970
...,...,...,...,...
46,espumante_orgnico,1365.0,derivados,2023
47,destilado_alcolico_simples_de_bagaceira,0.0,derivados,2023
48,vinho_acidificado,2500.0,derivados,2023
49,mosto_parcialmente_fermentado,0.0,derivados,2023
50,outros_derivados,652301.0,derivados,2023

### Processamento

In [4]:
df2=ebp.get_processamento_df()
df2

              cultivate  kilograms    group      subgroup  year
1     alicante_bouschet        0.0   tintas     viniferas  1970
2              ancelota        0.0   tintas     viniferas  1970
3                aramon        0.0   tintas     viniferas  1970
4           alfrocheiro        0.0   tintas     viniferas  1970
5             arinarnoa        0.0   tintas     viniferas  1970
..                  ...        ...      ...           ...   ...
5          golden_queen        0.0  brancas  uvas_de_mesa  2023
6               patrcia        0.0  brancas  uvas_de_mesa  2023
7               perlona        0.0  brancas  uvas_de_mesa  2023
8                italia        0.0  brancas  uvas_de_mesa  2023
9   rubi_itlia_itlia_ro    13440.0  brancas  uvas_de_mesa  2023

[10962 rows x 5 columns]

### Comercialização

In [5]:
df3=ebp.get_comercializacao_df()
df3

,product,liters,group,year
1,tinto,83300735.0,vinho_de_mesa,1970
2,rosado,107681.0,vinho_de_mesa,1970
3,branco,14919190.0,vinho_de_mesa,1970
5,tinto,435354.0,vinho_fino_de_mesa,1970
6,rosado,183234.0,vinho_fino_de_mesa,1970
...,...,...,...,...
57,vinho_base_para_espumantes,0.0,outros_produtos_comercializados,2023
58,vinho_composto,981.0,outros_produtos_comercializados,2023
59,vinho_licoroso,421974.0,outros_produtos_comercializados,2023
60,vinho_leve,132064.0,outros_produtos_comercializados,2023
61,vinho_gaseificado,410215.0,outros_produtos_comercializados,2023

### Importação

In [6]:
df4=ebp.get_importacao_df()
df4

          country  kilograms  dollars        subgroup  year
0   africa_do_sul        0.0      0.0  vinhos_de_mesa  1970
1        alemanha    52297.0  30498.0  vinhos_de_mesa  1970
2          arglia        0.0      0.0  vinhos_de_mesa  1970
3   arbia_saudita        0.0      0.0  vinhos_de_mesa  1970
4       argentina    19525.0  12260.0  vinhos_de_mesa  1970
..            ...        ...      ...             ...   ...
24         taiwan        0.0      0.0     suco_de_uva  2023
25        turquia        0.0      0.0     suco_de_uva  2023
26        uruguai        0.0      0.0     suco_de_uva  2023
27      venezuela        0.0      0.0     suco_de_uva  2023
28         outros        0.0      0.0     suco_de_uva  2023

[10638 rows x 5 columns]

### Exportação

In [7]:
df5=ebp.get_exportacao_df()
df5

                          country  kilograms  dollars        subgroup  year
0                      afeganisto        0.0      0.0  vinhos_de_mesa  1970
1                    frica_do_sul        0.0      0.0  vinhos_de_mesa  1970
2    alemanha_repblica_democrtica        0.0      0.0  vinhos_de_mesa  1970
3                          angola        0.0      0.0  vinhos_de_mesa  1970
4                        anguilla        0.0      0.0  vinhos_de_mesa  1970
..                            ...        ...      ...             ...   ...
117            trinidade_e_tobago        0.0      0.0     suco_de_uva  2023
118                       turquia      230.0    455.0     suco_de_uva  2023
119                       uruguai        0.0      0.0     suco_de_uva  2023
120                       vanuatu        0.0      0.0     suco_de_uva  2023
121                     venezuela    30206.0  47287.0     suco_de_uva  2023

[26784 rows x 5 columns]